packaging_format = 2

id = "mostlymatter"
name = "Mostlymatter"
description.en = "Collaboration platform built for developers"
description.fr = "Plateforme de collaboration conçue pour les développeurs"

version = "10.6.1~ynh1"

maintainers = []

[upstream]
license = "Apache-2.0"
code = "https://framagit.org/framasoft/framateam/mostlymatter"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false

sso = false

disk = "750M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mattermost"

    [install.init_main_permission]
    help.en = "If visitors selected, Mostlymatter will be accessible by users without a YunoHost account. This can be changed later via the webadmin."
    help.fr = "Si « Visiteurs » est sélectionné, Mostlymatter sera accessible même par les utilisateurs n’ayant pas de compte YunoHost. Vous pourrez changer ce réglage plus tard dans l’interface d’administration."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.language]
    ask.en = "Choose the language of the chat for the admin"
    ask.fr = "Choissisez la langue utilisée par le compte administrateur"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "pt"]
    default = "fr"

    [install.team_display_name]
    ask.en = "Choose a Team name"
    ask.fr = "Choisissez le nom de l’équipe"
    type = "string"
    example = "Team"
    default = "Team"

[resources]
    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://releases.mattermost.com/10.6.1/mattermost-team-10.6.1-linux-amd64.tar.gz"
        amd64.sha256 = "4fcc6417c31634b23b1acf2785838019ea7a2c482b4a59b36cff9f94e383c7a4"
        arm64.url = "https://releases.mattermost.com/10.6.1/mattermost-team-10.6.1-linux-arm64.tar.gz"
        arm64.sha256 = "745ca5ec9259d906891afdc5bc9ada38e22e28b8bdc56eb0f9fea9c9caaa3c8f"
        armhf.url = "https://github.com/remiheens/mattermost-docker-arm/releases/download/v10.5.1/mattermost-v10.5.1-linux-arm.tar.gz"
        armhf.sha256 = "16d6e0f70b670dab570c3ec8c0c936a33158edb9dc025e6c2a36c8e19cc909bb"

        [resources.sources.mostlymatter]
        in_subdir = false
        extract = false
        rename = "mostlymatter"
        amd64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-amd64-v10.6.1"
        amd64.sha256 = "9ee6d363fd9d128893e7d8b1ca03c4fafb211411cb7fe46ef0bd0595342881ac"
        arm64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-arm64-v10.6.1"
        arm64.sha256 = "2eae2f1dd0fe7c060826549dcb9fed268c2dbf3622106893cb0a0ed2722432d5"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    
    [resources.data_dir]
    
    [resources.ports]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
