packaging_format = 2

id = "mostlymatter"
name = "Mostlymatter"
description.en = "Collaboration platform built for developers"
description.fr = "Plateforme de collaboration conçue pour les développeurs"

version = "11.1.0~ynh1"

maintainers = []

[upstream]
license = "Apache-2.0"
code = "https://framagit.org/framasoft/framateam/mostlymatter"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "750M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mattermost"

    [install.init_main_permission]
    help.en = "If visitors selected, Mostlymatter will be accessible by users without a YunoHost account. This can be changed later via the webadmin."
    help.fr = "Si « Visiteurs » est sélectionné, Mostlymatter sera accessible même par les utilisateurs n’ayant pas de compte YunoHost. Vous pourrez changer ce réglage plus tard dans l’interface d’administration."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.language]
    ask.en = "Choose the language of the chat for the admin"
    ask.fr = "Choissisez la langue utilisée par le compte administrateur"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "pt"]
    default = "fr"

    [install.team_display_name]
    ask.en = "Choose a Team name"
    ask.fr = "Choisissez le nom de l’équipe"
    type = "string"
    example = "Team"
    default = "Team"

[resources]
    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://releases.mattermost.com/11.1.0/mattermost-team-11.1.0-linux-amd64.tar.gz"
        amd64.sha256 = "30a70109f6175ed23a8a62ef7349168571bbc2989c6be08470d595686d98b714"
        arm64.url = "https://releases.mattermost.com/11.1.0/mattermost-team-11.1.0-linux-arm64.tar.gz"
        arm64.sha256 = "f725baa44deb12ba7e85e417e1c92e26d22fcdf7394df4a8777bb359747f3449"
        armhf.url = "https://github.com/remiheens/mattermost-docker-arm/releases/download/v11.0.2/mattermost-v11.0.2-linux-arm.tar.gz"
        armhf.sha256 = "ba7cfeb7676cdfa22a9bb8d3baf24ed5a666e1cc9ad25aff4e557fe5a7fc49d1"

        [resources.sources.mostlymatter]
        in_subdir = false
        extract = false
        rename = "mostlymatter"
        amd64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-amd64-v11.0.6"
        amd64.sha256 = "efd5166fbf2e3f87c27fa06fe03c02f7745ca3f58000e435a5afbb6a8a2a0d20"
        arm64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-arm64-v11.0.6"
        arm64.sha256 = "3bf1346d1e58889d2bc5643a1d6166f7c998d5428faa06664cf962eea35db81e"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    
    [resources.data_dir]
    
    [resources.ports]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
