packaging_format = 2

id = "mostlymatter"
name = "Mostlymatter"
description.en = "Collaboration platform built for developers"
description.fr = "Plateforme de collaboration conçue pour les développeurs"

version = "10.10.3~ynh1"

maintainers = []

[upstream]
license = "Apache-2.0"
code = "https://framagit.org/framasoft/framateam/mostlymatter"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "750M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mattermost"

    [install.init_main_permission]
    help.en = "If visitors selected, Mostlymatter will be accessible by users without a YunoHost account. This can be changed later via the webadmin."
    help.fr = "Si « Visiteurs » est sélectionné, Mostlymatter sera accessible même par les utilisateurs n’ayant pas de compte YunoHost. Vous pourrez changer ce réglage plus tard dans l’interface d’administration."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.language]
    ask.en = "Choose the language of the chat for the admin"
    ask.fr = "Choissisez la langue utilisée par le compte administrateur"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "pt"]
    default = "fr"

    [install.team_display_name]
    ask.en = "Choose a Team name"
    ask.fr = "Choisissez le nom de l’équipe"
    type = "string"
    example = "Team"
    default = "Team"

[resources]
    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://releases.mattermost.com/10.10.3/mattermost-team-10.10.3-linux-amd64.tar.gz"
        amd64.sha256 = "12387834baeeecf824b6b5a18df39d83803d0964ae4907f9e944f60e086117a0"
        arm64.url = "https://releases.mattermost.com/10.10.3/mattermost-team-10.10.3-linux-arm64.tar.gz"
        arm64.sha256 = "f537f7efe0d7c1f5a7135c557ecdb3eed63b5d264337fa075b40f3e10b5634a6"
        armhf.url = "https://github.com/remiheens/mattermost-docker-arm/releases/download/v10.5.1/mattermost-v10.5.1-linux-arm.tar.gz"
        armhf.sha256 = "16d6e0f70b670dab570c3ec8c0c936a33158edb9dc025e6c2a36c8e19cc909bb"

        [resources.sources.mostlymatter]
        in_subdir = false
        extract = false
        rename = "mostlymatter"
        amd64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-amd64-v10.10.3"
        amd64.sha256 = "4947075cdeae1889ad28ab59823a26a4bc40889b16ecdce5996be3f90794c756"
        arm64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-arm64-v10.10.3"
        arm64.sha256 = "a2ece96c834e8d6e05bb2619608d4157752973a2a6fb38fc10688dc1dd9f23fe"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    
    [resources.data_dir]
    
    [resources.ports]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql"

    [resources.database]
    type = "postgresql"
